@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');

body {
  font-family: 'Noto Sans SC', serif;
  
  background-color: #fafafa;
}

#app {
  padding: 2rem 1rem;
}

html, body {
  height: 100%;
}